body {
    font-family: "Heebo", serif; /* Cambia a la fuente que desees */
}
.custom-navbar {
    background-color: #1E2428; /* Cambia a tu color preferido */
    color: white;
}
.custom-navbar .navbar-brand span {
    color: #50AABD; /* Color del texto "MAXIMAR" */
    font-size: 1.5rem; /* Tamaño del texto */
    font-weight: bold;
}
.custom-navbar .nav-link:hover {
    color: #50AABD !important; /* Color de hover en los enlaces */
}
.custom-navbar .nav-link {
    font-size: 1.2rem; /* Tamaño del texto */
    color: white !important; /* Color de los enlaces */
    margin-right: 25px; /* Espaciado entre enlaces */
    transition: color 0.3s;
}
.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* Ajuste del tamaño de las cartas */
.custom-card {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    width: 90%;
    height: 90%;
    margin: 0 auto; /* Asegura el centrado horizontal */
}

.custom-card:hover {
    transform: translateY(-5px); /* Agrega un efecto de elevación */
    transition: transform 0.3s ease-out; /* Más rápida al entrar */
}

/* Imagen contenida y oscurecida */
.custom-card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1); /* Animación lenta por defecto */
}

.custom-card:hover .card-img {
    transform: scale(1.1); /* Zoom a la imagen */
    transition: transform 0.3s ease-out; /* Más rápida al entrar */
}

/* Superposición de contenido */
.custom-card .card-img-overlay {
    color: white;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

/* Estilos del texto */
.custom-card .card-title {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.custom-card .card-text {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Botón personalizado */
.btn-custom {
    background-color: #50AABD;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    width: auto;
    max-width: fit-content;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1); /* Transición lenta por defecto */
}

.custom-card:hover .btn-custom {
    background-color: #3f8796;
    padding-right: 2em;
    transition: all 0.3s ease-out; /* Más rápida al entrar */
}

/* Evitar cortes abruptos al salir del hover */
.custom-card .btn-custom {
    padding-right: 1rem; /* Valor inicial consistente */
    background-color: #50AABD;
}

.footer {
    background-color: #1E2428;
    padding: 20px 0;
    color: #ffffff;
}
.footer a, .footer h6 {
    color: #00bcd4;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.footer .list-unstyled li {
    margin-bottom: 10px;
}
.footer .list-unstyled li a {
    color: #ffffff;
}
.footer .list-unstyled li a:hover {
    color: #00bcd4;
}
.footer .contact-info i {
    margin-right: 10px;
}
.footer .contact-info p {
    margin: 0;
}
.footer .contact-info p + p {
    margin-top: 5px;
}
.footer .social-icons a {
    color: #ffffff;
    margin-right: 10px;
}
.footer .social-icons a:hover {
    color: #00bcd4;
}
.footer .copyright {
    text-align: center;
    margin-top: 30px;
    color: #bebebe;
    margin-bottom: 0;
}
.img-ordenar {
    width: 100%;
    height: auto;
}
.footer .logor h6 {
    line-height: 0%;
    font-size: 1.5rem;
    margin-top: 20px;
}
.logor {
    margin-top: 25px;
}
.line-divider {
    display: none;
    width: 95%;
    height: 2px;
    background-color: #00bcd4;
    margin-top: 5px;
    margin-bottom: 15px;
}
.gallery-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.gallery-img:hover {
    transform: scale(1.02);
}

.gallery-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-img:hover::after {
    opacity: 1;
}

.gallery-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9;
}

.gallery-img:hover .gallery-text {
    opacity: 1;
}

.gallery-img img {
    width: 100%;
    height: auto;
    display: block;
}
.instagram-section {
    text-align: center;
    margin-bottom: 15px;
}
.instagram-section i {
    font-size: 14px;
    color: #888;
}
.instagram-section .follow-text {
    font-size: 12px;
    color: #888;
    margin-left: 3px;
}
.instagram-section .username {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #000;
}
.instagram-text-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-txt1 {
    line-height: 0;
    color: #00bcd4;
    font-weight: bold;
    font-size: 1rem;
}
.custom-txt2 {
    font-size: 1.2rem;
}
.carousell {
    padding: 20px 0;
}
.carousel-cell {
    width: 180px; /* Ancho de cada celda */
    margin-right: 10px; /* Espacio entre celdas */
    text-align: center;
    border-radius: 10px;
    background: white;
    transition: transform 0.4s;
}
.cell-a > p {
    line-height: 0px;
    margin-top: 10px;
    font-size: 0.9rem;
}
.cell-a > h6 {
    font-weight: bold;
    line-height: 0px;
    font-size: 0.95rem;
    margin-bottom: 25px;
}
.cell-a {
    color: black;
}
.carousel-cell:hover {
    transform: scale(1.05);
    text-decoration: none;
}
.carousel-cell img {
    margin-top: 5px;
    max-width: 85%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .line-divider {
        display: block;
    }
}
@media screen and (min-width :1px ) and (max-width: 991px){
    .parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, auto);
    }
    .custom-navbar .dropdown-menu {
        background-color: #1E2428; /* Fondo del menú desplegable */
        border: none;
    }
    .custom-navbar .dropdown-item {
        color: white;
        transition: background-color 0.3s;
    }
    .custom-navbar .dropdown-item:hover {
        color: #50AABD;
        background-color: #1E2428;
    }
    .div3, .div4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .custom-card .card-title {
        font-size: 0.7rem;  /* Reducir tamaño del título */
    }
    .custom-card .card-text {
        font-size: 1rem;  /* Reducir tamaño del texto */
    }
    .btn-custom {
        font-size: 0.9rem;
        font-weight: bold;
    }
    .container-footer {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
        min-width: 300px;
    }
    .container-footer .custom-row {
        margin-left: 20px;
        margin-left: +15px;
        margin-right: +15px;
    }
    .list-unstyled, .contact-info {
        line-height: 1rem;
    }
    .gallery-text {
        font-size: 0.7rem;
    }

}

    /* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, auto);
    }
    .div1 {
        grid-column: span 2 / span 2;
    }
    .div2 {
        grid-column: span 2 / span 2;
        grid-row-start: 2;
        margin-bottom: 50px;
    }
    .div3, .div4 {
        grid-row-start: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div5 {
        grid-column: span 2 / span 2;
    }
    .div6 {
        grid-column: span 2 / span 2;
        grid-row-start: 5;
    }
    .div7 {
        grid-column: span 2 / span 2;
        grid-row-start: 6;
    }
    .div8 {
        grid-column: span 2 / span 2;
        grid-row-start: 7;
    } 
    .custom-navbar .dropdown-menu {
        background-color: white; /* Fondo del menú desplegable */
        color: black;
    }
    .custom-navbar .dropdown-item {
        color: black;
        transition: background-color 0.3s;
    }
    .custom-navbar .dropdown-item:hover {
        color: #50AABD;
    }
    .custom-navbar .container-fluid {
        padding-left: 0; /* Elimina el padding izquierdo */
        padding-right: 0; /* Elimina el padding derecho */
    }
    .custom-navbar .navbar-brand {
        margin-left: 0; /* Ajusta el margen izquierdo del logo */
    }
    .custom-navbar .nav-link {
        margin-right: 50px; /* Ajusta el espaciado entre enlaces */
    }
    .custom-card .card-title {
        font-size: 1rem;  /* Reducir tamaño del título */
    }
    .custom-card .card-text {
        font-size: 1.5rem;  /* Reducir tamaño del texto */
    }
    .container-footer {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1200px;
    }
    
}

    








        